In [6]:
import pandas as pd

crime_data = pd.read_csv("C:\\Users\\Jyri\\Documents\\Koulu 2021\\SY21 Data Analysis\\Python\\Tunti 4\\london_crimes.csv")
#print(crime_data)

In [7]:
print(crime_data.columns)
print('_____________________________________________________')
print(crime_data.info())
print('_____________________________________________________')
print(crime_data.shape)
print(crime_data.shape[0])
print(crime_data.size)
print('_____________________________________________________')

Index(['borough', 'major_category', 'minor_category', 'year',
       'number_of_cases'],
      dtype='object')
_____________________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9414 entries, 0 to 9413
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   borough          9414 non-null   object
 1   major_category   9414 non-null   object
 2   minor_category   9414 non-null   object
 3   year             9414 non-null   int64
 4   number_of_cases  9414 non-null   int64
dtypes: int64(2), object(3)
memory usage: 367.9+ KB
None
_____________________________________________________
(9414, 5)
9414
47070
_____________________________________________________

In [8]:
print(crime_data[0:4])
crime_data.head
print(crime_data[100:105])

          borough               major_category minor_category  year  \
0  City of London  Violence Against the Person     Harassment  2016
1  City of London  Violence Against the Person     Harassment  2011
2  City of London  Violence Against the Person     Harassment  2014
3  City of London  Violence Against the Person     Harassment  2013

   number_of_cases
0               13
1                2
2                3
3                5
            borough               major_category       minor_category  year  \
100  City of London           Theft and Handling   Other Theft Person  2008
101  City of London           Theft and Handling   Other Theft Person  2012
102  City of London           Theft and Handling   Other Theft Person  2013
103  City of London           Theft and Handling   Other Theft Person  2009
104  City of London  Violence Against the Person  Assault with Injury  2011

     number_of_cases
100                0
101               41
102               24
103                0
104                9

In [9]:
print(crime_data[crime_data.shape[0] - 4 : crime_data.shape[0]])
crime_data.tail

                   borough   major_category     minor_category  year  \
9410        City of London          Robbery  Business Property  2011
9411                Bexley  Sexual Offences               Rape  2016
9412                Sutton  Sexual Offences               Rape  2012
9413  Richmond upon Thames  Sexual Offences               Rape  2012

      number_of_cases
9410                1
9411                0
9412                0
9413                0

<bound method NDFrame.tail of                    borough               major_category     minor_category  \
0           City of London  Violence Against the Person         Harassment
1           City of London  Violence Against the Person         Harassment
2           City of London  Violence Against the Person         Harassment
3           City of London  Violence Against the Person         Harassment
4           City of London  Violence Against the Person         Harassment
...                    ...                          ...                ...
9409        City of London                      Robbery  Business Property
9410        City of London                      Robbery  Business Property
9411                Bexley              Sexual Offences               Rape
9412                Sutton              Sexual Offences               Rape
9413  Richmond upon Thames              Sexual Offences               Rape

      year  number_of_cases
0     2016               13
1     2011                2
2     2014                3
3     2013                5
4     2009                0
...    ...              ...
9409  2015                0
9410  2011                1
9411  2016                0
9412  2012                0
9413  2012                0

[9414 rows x 5 columns]>

In [10]:
#Create dataset which contains only the year and number of cases.
year_and_number = crime_data[['year', 'number_of_cases']]
print(year_and_number)

      year  number_of_cases
0     2016               13
1     2011                2
2     2014                3
3     2013                5
4     2009                0
...    ...              ...
9409  2015                0
9410  2011                1
9411  2016                0
9412  2012                0
9413  2012                0

[9414 rows x 2 columns]

In [11]:
#Create dataset which contains only data from 2010

year_2010 = crime_data[crime_data.year == 2010]
print(year_2010)

                     borough               major_category  \
7             City of London  Violence Against the Person
14            City of London           Theft and Handling
21            City of London  Violence Against the Person
29            City of London  Violence Against the Person
44            City of London  Violence Against the Person
...                      ...                          ...
9364  Kensington and Chelsea           Theft and Handling
9373  Kensington and Chelsea           Theft and Handling
9387  Kensington and Chelsea              Criminal Damage
9393  Kensington and Chelsea              Criminal Damage
9400  Kensington and Chelsea           Theft and Handling

                              minor_category  year  number_of_cases
7                                 Harassment  2010                0
14                               Other Theft  2010                0
21                              Wounding/GBH  2010                0
29                            Common Assault  2010                0
44                            Other violence  2010                0
...                                      ...   ...              ...
9364             Theft/Taking of Pedal Cycle  2010              901
9373           Theft/Taking Of Motor Vehicle  2010              504
9387        Criminal Damage To Motor Vehicle  2010              469
9393       Criminal Damage To Other Building  2010              165
9400  Motor Vehicle Interference & Tampering  2010               40

[1046 rows x 5 columns]

In [12]:
#What was the biggest number of cases in 2010? Which crime, category and region?

crime_data[(crime_data.year == 2010)].max

max_crime_index = year_2010['number_of_cases'].argmax()
print(max_crime_index)

year_2010.iloc[max_crime_index]

794

borough                   Westminster
major_category     Theft and Handling
minor_category            Other Theft
year                             2010
number_of_cases                 15906
Name: 7140, dtype: object

In [4]:
#Calculate the total number of cases per category for every year

type_count = crime_data.groupby(['year', 'minor_category'])['number_of_cases'].sum()

print(type_count)

type_count.to_csv('London_crime_count_per_year_and_type.csv')

year  minor_category
2008  Assault with Injury              56586
      Burglary in Other Buildings      31437
      Burglary in a Dwelling           56655
      Business Property                 2964
      Common Assault                   37356
                                       ...
2016  Theft From Motor Vehicle         51319
      Theft From Shops                 46957
      Theft/Taking Of Motor Vehicle    26366
      Theft/Taking of Pedal Cycle      18001
      Wounding/GBH                     23525
Name: number_of_cases, Length: 288, dtype: int64